{%extends 'base.html'%}

{%block title%}
| Página Principal
{%endblock%}

{%block contenido%}
<h3 class="mt-3 mb-3">Hola {{user.user}}, añadí tus notitas :D</h3>



<form method="POST" class="container border d-flex justify-content-around align-items-center">
    <div class="mb-3 mt-3">
    <label for="texto">Texto</label>
    <textarea name="texto_nota" id="texto" class="form-control"></textarea>
    </div>
    
    <div class="mb-3 mt-3">
    <label for="fecha">Fecha</label>
    <input type="date" name="date" id="fecha">
    </div>

    <button type="submit" class="btn btn-secondary btn-lg m-1">Añadir nota</button>
</form>


<table class="table container border mt-5">
    <thead>
        <tr class="table-dark">
            <th scope="col">#</th>
            <th scope="col">Tarea</th>
            <th scope="col">Fecha</th>
            <th scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
            {%for i in user.notes%}
            <tr class="table-light">
                <th scope="row">{{loop.index}}</th>
                <td>{{i.texto}}</td>
                <td>{{i.fecha.date()}}</td>
                <td>
                    <button type="" class="btn btn-danger" onClick="deleteNote({{i.id}})">Borrar</button>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

{%endblock%}