{%extends 'base.html'%}

{%block title%}
| Home
{%endblock%}

{%block contenido%}


{%if user.is_authenticated%}
              
<figure class="text-center mt-3">
    <blockquote class="blockquote">
        <h3>Bienvenido, empezá a usar ya la agenda :D</h3>
    </blockquote>
    <figcaption class="blockquote-footer">
        Tu vieja <cite title="Source Title">en tanga.</cite>
    </figcaption>
</figure>

{%else%}


<figure class="text-center mt-3">
<blockquote class="blockquote mt-3">
    <h1>
        Ingresá flaco o create una cuenta ;)
    </h1>
</blockquote>
</figure>

{%endif%}

{%endblock%}