{%extends 'base.html'%}

{%block title%}
| Ingresar
{%endblock%}

{%block contenido%}



<form method="POST" class="container">
    <div class="mb-3 mt-3">
      <label for="exampleInputEmail1" class="form-label" for='email'>Email</label>
      <input required type="email" class="form-control" id="exampleInputEmail1" name='email' aria-describedby="emailHelp" placeholder="Email">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input required type="password" class="form-control" id="exampleInputPassword1" name='contraseña' placeholder="Contraseña">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>

{%endblock%}