{%extends 'base.html'%}

{%block title%}
| Ingresar
{%endblock%}

{%block contenido%}

{%with messages = get_flashed_messages(with_categories = true)%}
{%if messages:%}
    {%for category, i in messages:%}
        {%if category == 'error' :%}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{i}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        
        
        {%elif category == 'tolis' :%}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{i}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {%endif%}

    {%endfor%}
{%endif%}
{%endwith%}

<form method="POST" class="container">
    <div class="mb-3 mt-3">
      <label for="exampleInputEmail1" class="form-label" for='email'>Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name='email' aria-describedby="emailHelp" placeholder="Email">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name='contraseña' placeholder="Contraseña">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>

{%endblock%}